<!DOCTYPE html>
<html>
    <head>
        <title>my fortune website!</title>
        <style>
    Body {
      background-color: orange;
    }
  </style>
    </head>
    <body> 
        <p>This website was build by hila</p>
        <h1> Hello dear user!</h1>
        <a href="">come back to route/fortune</a>
        <h2>Your option fortunes are:</h2>
        <ul>
  <li>youre gonna be a future bilionaire</li>
  <li>youre gonna be a homeless:(</li>
  <li>youll have 2 kids</li>
  <li>youll study in the MIT</li>
  <li>a future entrepreneur!</li>
  <li>gonna be a rockstar!</li>
  <li>have 10 kids!!</li>
  <li>have 12 cats</li>
  <li>gonna marry a selebrity</li>
  <li>future singer:)</li>
</ul>

    <body>
</html>
